shaderpacks
scripts
screenshots
schematics
saves
resourcepacks
profileImage
patchouli_books
mods
modernfix
mod_data
logs
local
essential
downloads
data
crash-reports
ops.json
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
whitelist.json